<div *ngIf="selectedPatient">
    <patient-detail [patient] = "selectedPatient"></patient-detail>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Priority</th>
                <th>Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients">
                <td>{{patient.id}}</td>
                <td>{{patient.name}} {{patient.lastName}}</td>
                <td>{{patient.priority}}</td>
                <td>{{patient.address}}</td>
                <td>
                    <button type="button" class="btn btn-info" (click)="onSelect(patient)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button type="button" class="btn btn-danger" [disabled]="selectedPatient && selectedPatient.id === patient.id" (click)="delete(patient.id)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>